@if(product) {
<h2>{{ product.name }} Details</h2>
<div class="card flex flex-column md:flex-row gap-3">
  <p-inputGroup>
    <p-inputGroupAddon>
      <span>id: </span>
    </p-inputGroupAddon>
    <input type="text" [(ngModel)]="product.id" pInputText placeholder="Id" />
  </p-inputGroup>
  <p-inputGroup>
    <input
      type="text"
      [(ngModel)]="product.description"
      pInputText
      placeholder="Description"
    />
  </p-inputGroup>
  <p-inputGroup>
    <p-inputGroupAddon>$</p-inputGroupAddon>
    <input
      type="text"
      [(ngModel)]="product.price"
      pInputText
      placeholder="Price"
    />
    <p-inputGroupAddon>.00</p-inputGroupAddon>
  </p-inputGroup>
  <p-inputGroup
    ><input
      pInputText
      [(ngModel)]="product.quantity"
      type="number"
      placeholder="quantity"
    />
  </p-inputGroup>

  <button pButton (click)="updateProduct()">Save</button>
</div>
}
